<a href="https://colab.research.google.com/github/archimisra/More-Python-sample-q-s/blob/main/Untitled13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
a = [1,2,3,44,5,5,5]
element = 5
count = a.count(element)
print(count)

3

In [9]:
a = [1,2,3,4,5,6]
unique_list = [1,2,3,4,5]
print("original list:", a)
print("list after removing duplicates:", unique_list)

original list: [1, 2, 3, 4, 5, 6]
list after removing duplicates: [1, 2, 3, 4, 5]

In [10]:
a = [1,2,3,4,5]
reversed_list = []
for items in a:
  reversed_list.insert(0, items)
print("reversed list:", reversed_list)

reversed list: [5, 4, 3, 2, 1]

In [11]:
a = [1,2,3,4,5,6,7,89,0]
a.sort()
print("sorted list:", a)

sorted list: [0, 1, 2, 3, 4, 5, 6, 7, 89]

In [12]:
a = [1,2,3,4]
b = ["apples", "mangoes", "cherries"]
merged_list = a+b
print("list 1:",a)
print("list 2:", b)
print("merged list:", merged_list)

list 1: [1, 2, 3, 4]
list 2: ['apples', 'mangoes', 'cherries']
merged list: [1, 2, 3, 4, 'apples', 'mangoes', 'cherries']

In [14]:
a = [1,23,43,11,56]
a.sort()
second_largest = a[-2]
print("second largest element is:", second_largest)

second largest element is: 43

In [17]:
a = [1,2,3,4,5,6,7,8]
even_numbers=[]
odd_numbers=[]
for num in a:
  if num % 2 == 0:
    even_numbers.append(num)
  else:
    odd_numbers.append(num)
print("original list:", a)
print("even numbers:", even_numbers)
print("odd numbers:", odd_numbers)

original list: [1, 2, 3, 4, 5, 6, 7, 8]
even numbers: [2, 4, 6, 8]
odd numbers: [1, 3, 5, 7]

In [3]:
a = [1,2,3,4]
b = [4,5,6,7]
common=[]
for item in a:
  if item in b and item not in common:
    common.append(item)
print("list 1:", a)
print("list 2:", b)
print("common elements:", common)

list 1: [1, 2, 3, 4]
list 2: [4, 5, 6, 7]
common elements: [4]

In [5]:
def is_prime(num):
  if num<=1:
    return False
  for i in range(2, int(num**0.5)+1):
    if num%i == 0:
      return False
  return True

a = [1,2,3,4,5,6,7,8,9,11,22,23]
prime_numbers=[]
for num in a:
  if is_prime(num):
    prime_numbers.append(num)
print("original list:", a)
print("prime numbers:", prime_numbers)

original list: [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 23]
prime numbers: [2, 3, 5, 7, 11, 23]

In [7]:
matrix = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]

print("matrix in normal form:")
for row in matrix:
  for element in row:
    print(element, end = " ")
  print()

matrix in normal form:
1 2 3
4 5 6
7 8 9